<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de produtos</title>
    <link th:href="@{/styles/css/home.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script th:src="@{/js/home.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <section th:if="${!user.isFuncLogged}" class="section">
        <div th:fragment="navbar-container">
            <nav class="navbar">
                <div class="user-info">
                    <div class="user-name" th:if="${user.isLoggedIn}">
                        <p class="name" th:if="${not #lists.isEmpty(resultNomeLogin) and #lists.isEmpty(nomeProfile)}">
                            Olá, <span th:text="${resultNomeLogin[0]['nome']}" id="resultNomeLogin" onclick="openUserOptions()"></span>
                        </p>
                        <p class="name" th:if="${not #lists.isEmpty(resultNomeLogin) and not #lists.isEmpty(nomeProfile)}">
                            Olá, <span th:text="${nomeProfile[0]['nome']}" id="resultNomeLogin" onclick="openUserOptions()"></span>
                        </p>
                        <div id="userOptions">
                            <a th:href="@{'/profile/' + ${resultNomeLogin[0]['id_cliente']}}">meu perfil</a>
                            <a href="/meusPedidos">meus pedidos</a>
                            <a th:href="@{/logout}" id="logout">Logout</a>
                        </div>
                    </div>  
                    <a th:unless="${user.isLoggedIn}" th:href="@{/login}" id="login">Login</a>
                </div>
                <div id="cart-symbol" onclick="toggleCartSidebar()"><i class="fa fa-shopping-cart" style="font-size:25px;"></i></div>
            </nav>
        </div>
        <div class='products-section'>
            <div class='products-heading'>
                <h1>Produtos</h1>
            </div>
            <div class='products-section'>
                <div class='products-container'>
                    <div th:each="resultado : ${resultados}" th:data-href="@{/produto/__${resultado['id_produto']}__}" onclick="window.location.href=this.getAttribute('data-href');">
                        <div class="product-card">
                            <img th:src="@{${resultado['image']}}" class='product-image'></img>
                            <p class='product-name' th:text="${resultado['nome']}"></p>
                            <p class='product-price' th:text="${resultado['preco']}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="cart-sidebar">
            <div id="cart-sidebar" class="cart-sidebar">
                <div id="cart-content" class="cart-content">
                    <div id="gif-container" style="display: none;"></div>
                    <button type='button' class='cart-heading' id="cartHeading">
                        <i class="fa fa-thin fa-chevron-left"></i>
                        <span class='heading'>Your Cart</span>
                    </button>
                    <div class='empty-cart'>
                        <i class="fa-solid fa-bag-shopping" style="font-size: 80px;"></i>
                        <h3>Your shopping bag is empty</h3>
                        <button type='button' onclick="window.location.href='/'" class='btn'>Continue Shopping</button>
                    </div>
                    <div class="product-container">
                        <!-- nao pode mexer aqui -->
                    </div>   
                    <div  id="cart-bottom" class='cart-bottom'>
                        <div class='total'>
                          <h3>Subtotal:</h3>
                          <h3></h3>
                        </div>
                        <select id="shipping" name="shipping">
                            <option value="">Choose a shipping company</option>
                    
                            <option th:each="transportadora: ${resultadoTransportadora}" 
                                    th:value="${transportadora['id_transportadora']}" 
                                    th:text="${transportadora['nome']}" required></option>
                        </select>
                        <div class='btn-container' th:if="${user.isLoggedIn}">
                            <button type='button' class='btn' th:onclick="'compra(\'' + ${resultNomeLogin[0]['id_cliente']} + '\')'" id="enviar">Place Order</button>
                        </div>
                        <div class='btn-container' th:if="${!user.isLoggedIn}">
                          <button type='button' class='btn' onclick="window.location.href='/login'">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section th:if="${user.isFuncLogged}">
        <div th:fragment="navbar-container-func">
            <nav class="navbar">
                <div class="user-info">
                    <div class="user-name" th:if="${user.isFuncLogged}">
                        <p class="name">
                            Olá, <span th:text="${resultFunc[0]['nome']}" id="resultNomeLogin" onclick="openUserOptions()"></span>
                        </p>
                        <div id="userOptions">
                            <a th:href = "@{/Relatorios}" th:if = "${resultFunc[0]['cargo'] == 'Gerente'}">Relatórios</a>
                            <a th:href="@{/logout}" id="logout">Logout</a>
                        </div>
                    </div> 
                </div>
            </nav>
        </div>
        
        
        <h1>Lista de produtos</h1>
        <table>
            <tr>
                <th>Produtos</th>
            </tr>
            <tr th:each="resultado : ${resultados}">
                <td>
                    <a th:href="@{'/produto/' + ${resultado['id_produto']}}"><span th:text="${resultado['nome']}"></span></a>
                </td>
            </tr>
        </table>
    </section>


</body>
</html>