<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de produtos</title>
</head>
<body>
    <div th:if="${user.isLoggedIn}">
        <a th:href="@{/logout}">Logout</a>
        <div th:if="${resultNomeLogin != null}">
            <p>Ola: <span th:text="${resultNomeLogin[0]['nome']}"></span></p>
        </div>
    </div>
    <div th:unless="${user.isLoggedIn}">
        <p>Não logado</p>
        <a th:href="@{/login}">Login</a>
    </div>
    
    <h1>Lista de produtos</h1>
    <table>
        <tr>
            <th>Produtos</th>
        </tr>
        <tr th:each="resultado : ${resultados}">
            <td>
                <a th:href="@{'/produto/' + ${resultado['id_produto']}}"><span th:text="${resultado['nome']}"></span></a>
            </td>
        </tr>
    </table>
    <div class="cart-sidebar">
        <h2>Carrinho de Compras</h2>
        <ul id="cart-items">
            <!-- Cart items will be updated here -->
        </ul>
        <button id="limpar-carrinho">Limpar Carrinho</button>
    </div>
    
    <script type="text/javascript">
        // Function to update the cart
        function atualizarCarrinho() {
            fetch('/carrinho') 
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    var cartItems = data.itens;
                    var cartItemsList = document.getElementById('cart-items');
                    
                    cartItemsList.innerHTML = ''; // byh3ndr1ch
                    cartItems.forEach(function (item) {
                        var listItem = document.createElement('li');
                        listItem.setAttribute('id', 'cart-item-' + item.id_produto); // Set the ID for the list item
                        listItem.textContent = "Nome: " + item.nome + " - Preço: $" + item.preco + " - Quantidade: " + item.quantidade;
                        var deleteButton = document.createElement('button');
                        deleteButton.textContent = 'Delete';
                        deleteButton.onclick = function() { deleteCartItem(item.id_produto); };
                        listItem.appendChild(deleteButton);
                    
                        cartItemsList.appendChild(listItem);
                    });
                    
                }); 
        }

        // Function to add a product to the cart
        function adicionarAoCarrinho(productId) {
            fetch('/carrinho/adicionar/' + productId, {
                method: 'POST',
                headers: {}
            }).then(response => {
                return response.json(); // Assuming your endpoint returns a JSON response
            }).then(data => {
                alert(data.message); // Alert the message from the server
                window.location.href = '/'; // Redirect to the home page
            }).catch(error => {
                console.error('Error:', error);
            });
        }

        // Function to delete an item from the cart
        function deleteCartItem(productId) {
            fetch('/carrinho/remover/' + productId, {
                method: 'POST',
                headers: {
                    // CSRF header if needed; it depends on your Spring Security configuration
                    // 'X-CSRF-TOKEN': token
                }
            }).then(response => {
                return response.json(); // Assuming your endpoint returns a JSON response
            }).then(data => {
                alert(data.message); // Alert the message from the server
                var itemElement = document.getElementById('cart-item-' + productId);
                if (itemElement) {
                    itemElement.remove(); // This will remove the item from the DOM
                }
                atualizarCarrinho(); // Update the cart
            }).catch(error => {
                console.error('Error:', error);
            });
        }

                
        document.addEventListener('DOMContentLoaded', function () {
            // Add to cart button listener
            var addToCartButtons = document.querySelectorAll('.add-to-cart-button');
            addToCartButtons.forEach(function(button) {
                button.addEventListener('click', function () {
                    var productId = this.getAttribute('data-product-id');
                    adicionarAoCarrinho(productId);
                });
            });

            // Clear cart button listener
            var limparCarrinhoButton = document.getElementById('limpar-carrinho');
            limparCarrinhoButton.addEventListener('click', function () {
                fetch('/carrinho/limpar', { method: 'POST' })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        alert(data.message);
                        atualizarCarrinho();
                    });
            });

            // Initial cart update
            atualizarCarrinho();
        });
    </script>
</body>
</html>