<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background-color: #28282B;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/login" id="loginForm">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <input type="password" class="form-control" id="senha" name="senha" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" id="loginButton">Login</button>
                        </form>
                        <p class="mt-3 text-center">Ainda não possui uma conta? <a href="/registro">Clique aqui</a></p>
                        <p class="text-center"><a href="/updatePassword">Esqueceu a senha?</a></p>
                        <p class="text-danger text-center" id="loginError"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        document.getElementById("loginForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Impede o envio padrão do formulário
    
            var email = document.getElementById("email").value;
            var senha = document.getElementById("senha").value;
    
            // Use o método fetch para enviar os dados para o controlador
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'email=' + email + '&senha=' + senha,
            })
            .then(response => response.json()) // Dependendo da resposta do controlador, pode ser necessário ajustar o tipo de dados
            .then(data => {
                // Trate a resposta do controlador, se necessário
                if (data.loggedIn) {
                    // Redirecione para a página de destino após o login bem-sucedido
                    window.location.href = '/';
                } else {
                    document.getElementById("loginError").textContent = "Credenciais inválidas";
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        });
    </script>
    
</body>
</html>
