<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Produto</title>
</head>
<body>
    <h1>Detalhes do Produto</h1>
    <table>
        <tr>
            <th>NOME</th>
            <th>PRECO</th>
            <th>DESCRICAO</th>
            <th>CATEGORIA</th>
        </tr>
        <tr th:each="row : ${resultado}">
            <td th:text="${row['nomeProduto']}"></td>
            <td th:text="'$ ' + ${row['PrecoProduto']}"></td>
            <td th:text="${row['DescricaoProduto']}"></td>
            <td th:text="${row['NomeCategoria']}"></td>
            <td>
                <button th:attr="data-product-id=${row['idProduto']}" class="add-to-cart-button">Adicionar ao Carrinho</button>
            </td>       
        </tr>
    </table>
    <script type="text/javascript">
        document.querySelectorAll('.add-to-cart-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var productId = this.getAttribute('data-product-id');
                             
                fetch('/carrinho/adicionar/' + productId, { method: 'POST' })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        var message = data.message;
                        if (message) {
                            alert(message);
                        }
                });
                console.log(productId);
            });
        });
    </script>
</body>
</html>