<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar Informações do Cliente</title>
    <link th:href="@{/styles/css/profile.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/home.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script th:src="@{/js/home.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div th:if="${!user.isFuncLogged}" th:include="~{components/home :: navbar-container}"></div>
        <div th:if="${user.isFuncLogged}" th:include="~{components/home :: navbar-container-func}"></div>
        <div th:if="${!user.isFuncLogged}" th:include="~{components/home :: cart-sidebar}"></div>
</head>
<body>
    
    <div class="container" th:if = "resultProfileUpdate != null">

        <h2>Editar Informações do Cliente</h2>
        <form action="/atualizarInformacoes" id="updateForm" method="post">
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" th:value="${resultProfileUpdate[0].nome}"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" th:value="${resultProfileUpdate[0].email}"><br>
            <label for="telefone">Telefone:</label><br>
            <input type="text" id="telefone" name="telefone" th:value="${resultProfileUpdate[0].telefone}"><br>
            <label for="telefone2">Telefone Secundário:</label><br>
            <input type="text" id="telefone2" name="telefone2" th:value="${resultProfileUpdate[0].telefone2}"><br>
            <label for="rua">Rua:</label><br>
            <input type="text" id="rua" name="rua" th:value="${resultProfileUpdate[0].rua}"><br>
            <label for="numero">Número:</label><br>
            <input type="text" id="numero" name="numero" th:value="${resultProfileUpdate[0].numero}"><br>
            <input type="hidden" id="id_cliente" name="id_cliente" th:value="${resultProfileUpdate[0].id_cliente}"><br>
            <button type="submit">Atualizar</button>
        </form>
    </div>

    <script> 
    
    document.getElementById('updateForm').addEventListener('submit', function (event) {
        event.preventDefault();
    
        fetch('/atualizarInformacoes', {
            method: 'POST',
            body: JSON.stringify({
                nome: document.getElementById('nome').value,
                email: document.getElementById('email').value,
                telefone: document.getElementById('telefone').value,
                telefone2: document.getElementById('telefone2').value,
                rua: document.getElementById('rua').value,
                numero: document.getElementById('numero').value,
                id_cliente: document.getElementById('id_cliente').value
            }),
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            alert(data.sucesso);
            window.location.href = '/login';
        });
    });
    
    
    </script>
</body>
</html>
