body {
    font-family: Arial, sans-serif;
    background-color: black;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.pedidos-list {
    margin-top: 20px;
}

.pedido {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #2c2c2c;
    color: #fff;
    width: 100%;
    border-collapse: collapse;
}

.pedido h2 {
    margin: 10px;
}

.pedido td, .pedido th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pedido th {
    background-color: #333;
    color: #fff;
}

.cancelar-btn {
    background-color: #d9534f;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.cancelar-btn:hover {
    background-color: #c9302c;
}

.produto {
    border-bottom: 1px solid #eee;
}

.product-image {
    max-width: 80px;
    margin-right: 10px;
}

.produto-info {
    flex-grow: 1;
}

/* Add more styles as needed */
