body {
    background-color: #2c2c2c;
    color: #fff;
    margin: 0;
}

h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#error-message {
    color: red;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
}

legend {
    font-weight: bold;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input, select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

small {
    color: #aaa;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#cliente-fields,
#funcionario-fields,
#gerente-fields {
    display: none;
}

select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}
